# Data

LandmarksPDFGenerator/Data/
NumbersGenerator/Data/
PlotsGenerator/Data/
PostProcessingScriptGenerator/Data/
SpreadsheetFileGenerator/Data/

# System

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Softwares

.idea

# Compiled files

*.pyc